set -Eeuo pipefail # https://stackoverflow.com/a/821419

#===============================================================================
# To run this:
#  1. `git clone git@gitlab.oit.duke.edu:granek-lab/projects/dorado-pipelines.git`
#  2. `dorado-pipelines/basecall_demux_map/main_sbatch.sh PATH_TO_THIS_CONFIG`
#===============================================================================

#===============================================================================
# CONTAINER IMAGES
#------------
## These default values are probably OK. They only need to be changed if you
## want/need a newer version of software
#------------
export DORADO_SIF_PATH='docker://ontresearch/dorado:sha58b978562389bd0f1842601fb83cdf1eb2920218' # dorado version 0.7.2+9ac85c6
export POD5_SIF_PATH='oras://gitlab-registry.oit.duke.edu/granek-lab/granek-container-images/meta-methylome-simage:v002'
#===============================================================================
# SLURM SETTINGS
#-----------------------------
export SBATCH_ACCOUNT="chsi"
export CPUJOB_PARTITION="chsi,common,scavenger"
export GPUJOB_PARTITION="scavenger-gpu,gpu-common"

#-----------------------------
# NOTES:
# SBATCH_ACCOUNT: Running this command on DCC will tell you what your valid accounts are: sacctmgr show user $USER --noheader --associations --parsable | cut --delimiter='|' -f 5
# Other defaults are probably OK
#===============================================================================

# GPU TYPE
#-----------------------------
# export GPUJOB_GPUS="RTX2080:1"
export GPUJOB_GPUS="RTXA5000:1"
# export GPUJOB_GPUS="RTXA6000:1"
#-----------------------------
# NOTES:
# - Default is probably OK
# - To speed things up, you can run the sinfo command below. Whichever has the highest number to the left is probably a best choice for GPUJOB_GPUS
# - If the numbers are similar, RTXA6000 is best, then RTXA5000, then RTX2080. Don't use TITANX or V100
#   sinfo --noheader -O "Gres" -p "scavenger-gpu,gpu-common" -N --states="idle" | sort | uniq -c
#===============================================================================

# INPUT & OUTPUT
#-----------------------------
export POD5_DIR="/datacommons/graneklab/projects/premier/20240503_102K_rap_6levels/20240503_1055_P2S-01272-A_PAW23686_697fd609/pod5"
export OUTDIR="/cwork/josh/20240503_102K_rap_6levels"

#-----------------------------
# POD5_DIR: Directory containing pod5 files.
# OUTDIR: Directory where all output will be saved (including intermediate files)
#===============================================================================

# BASECALL MODELS
#-----------------------------
export DORADO_MODEL_STRING="sup,4mC_5mC,6mA" 
#-----------------------------
# NOTES:
# - The defaults above are OK or can be changed. This will do super-high accuracy basecalling and call these methylations: 4mC, 5mC, and 6mA
# - dorado will probably fail if a requested model is not available for your dataset (e.g. 6mA or 4mC for R9.4.1 data)
# - dorado won't allow 4mC_5mC and 5mC_5hmC models in the same run, these need to be run separately simultaneously
# - options for model names can be found with the following command (assuming you set this SIF as your DORADO_SIF_PATH):
# 	srun --mem=20G -c 2 -A chsi -p chsi apptainer exec docker://ontresearch/dorado:sha58b978562389bd0f1842601fb83cdf1eb2920218 dorado download --list

#===============================================================================
# DEMULTIPLEXING
#-----------------------------
export KIT_NAME="SQK-RBK114-24" # for options run see --kit-name in `dorado demux --help`
export SAMPLE_SHEET="/datacommons/graneklab/projects/premier/20240503_102K_rap_6levels/20240503_102K_rap_6levels_sample_sheet.csv"

export GENERATE_FASTQ="TRUE"
