set -Eeuo pipefail # https://stackoverflow.com/a/821419

#===============================================================================
# To run this:
#  1. `git clone git@gitlab.oit.duke.edu:granek-lab/projects/dorado-pipelines.git`
#  2. `dorado-pipelines/basecall_demux_map/main_sbatch.sh PATH_TO_THIS_CONFIG`
#===============================================================================

#===============================================================================
# CONTAINER IMAGES
#------------
## These default values are probably OK. They only need to be changed if you
## want/need a newer version of software
#------------
export DORADO_SIF_PATH='docker://ontresearch/dorado:sha58b978562389bd0f1842601fb83cdf1eb2920218' # dorado version 0.7.2+9ac85c6
export POD5_SIF_PATH='oras://gitlab-registry.oit.duke.edu/granek-lab/granek-container-images/meta-methylome-simage:v002'
#===============================================================================
# SLURM SETTINGS
#------------
# SBATCH_ACCOUNT: Running this command on DCC will tell you what your valid accounts are: sacctmgr show user $USER --noheader --associations --parsable | cut --delimiter='|' -f 5
# Other defaults are probably OK
#------------
export SBATCH_ACCOUNT="You_Must_Set_This"
export CPUJOB_PARTITION="common,scavenger"
export GPUJOB_PARTITION="gpu-common,scavenger-gpu"

#===============================================================================
# GPU TYPE
#------------
# Default is probably OK
# To speed things up, you can run the follow command. Whichever has the highest number to the left is probably a best choice for GPUJOB_GPUS
# If the numbers are similar, RTXA6000 is best, then RTXA5000, then RTX2080. Don't use TITANX or V100
# sinfo --noheader -O "Gres" -p "scavenger-gpu,gpu-common" -N --states="idle" | sort | uniq -c
#------------
export GPUJOB_GPUS="RTX2080:1"
# export GPUJOB_GPUS="RTXA5000:1"
# export GPUJOB_GPUS="RTXA6000:1"
#===============================================================================
# INPUT & OUTPUT
#---------------
export OUTDIR="/cwork/${USER}/t_samples_full_4mC_6mA"
export POD5_DIR="/datacommons/graneklab/projects/bsf_mb_epigenetics/ont_dna_data/Methylation_T_samples_pool/20240412_1530_P2S-01272-A_PAS28139_d8faa887/pod5"
#===============================================================================

#-----------------------------
# dorado duplex will fail if a requested model is not available for your dataset (e.g. 6mA)
# find model names with: 
# srun --mem=20G -c 2 -A chsi -p chsi apptainer exec oras://gitlab-registry.oit.duke.edu/granek-lab/granek-container-images/dorado-simg:v0_6_1 dorado download --list
# dorado won't do 4mC_5mC and 5mC_5hmC simultaneously
# export DORADO_MODEL_STRING="sup,5mC_5hmC,6mA"
export DORADO_MODEL_STRING="sup,4mC_5mC,6mA"
#-----------------------------
# find demux information with: 
# srun --mem=5G -c 2 -A chsi -p chsi apptainer exec oras://gitlab-registry.oit.duke.edu/granek-lab/granek-container-images/dorado-simg:v0_6_1 dorado demux --help
export KIT_NAME="SQK-NBD114-96" # for options run see --kit-name in `dorado demux --help`

#--------------
## Sample Sheet
#--------------
# Sample Sheet Examples and Details
# https://github.com/nanoporetech/dorado/blob/release-v0.6/tests/data/barcode_demux/sample_sheet.csv
# https://github.com/nanoporetech/dorado/blob/master/documentation/SampleSheets.md
# https://community.nanoporetech.com/docs/prepare/library_prep_protocols/experiment-companion-minknow/v/mke_1013_v1_revdc_11apr2016/sample-sheet-upload

# NOTE: dorado demux currenly has issues with sample sheets in UTF8, giving errors about problematic column names 
# You can check if a files is in UTF8 with `dos2unix -ib`, which will report "UTF-8" if the file is a problem and "no_bom" if it isn't
# You can fix the file with `dos2unix --convmode ascii --newfile INPUT_FILE OUTPUT_FILE`


export SAMPLE_SHEET="/datacommons/graneklab/projects/bsf_mb_epigenetics/ont_dna_data/Methylation_T_samples_pool/methylation_tsample_sample_sheet.csv"

#===============================================================================

export REFERENCE_GENOME_URL="https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/013/426/205/GCA_013426205.1_ASM1342620v1/GCA_013426205.1_ASM1342620v1_genomic.fna.gz"
export REFERENCE_GENOME_MD5="7d53077d823457819dd369b43e70ddf5  GCA_013426205.1_ASM1342620v1_genomic.fna.gz"
# NCBI
# https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7842015/
# https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/013/426/205/GCA_013426205.1_ASM1342620v1/GCA_013426205.1_ASM1342620v1_genomic.gtf.gz
# https://www.ncbi.nlm.nih.gov/assembly/GCA_013426205.1/?shouldredirect=false
# https://www.ncbi.nlm.nih.gov/datasets/genome/GCA_013426205.1/
# 
# Ensembl Fungi
# https://fungi.ensembl.org/Metarhizium_brunneum_gca_013426205/Info/Index
# https://ftp.ensemblgenomes.ebi.ac.uk/pub/fungi/release-58/fasta/fungi_ascomycota5_collection/metarhizium_brunneum_gca_013426205/dna_index/Metarhizium_brunneum_gca_013426205.ASM1342620v1.dna.toplevel.fa.gz
# http://ftp.ensemblgenomes.org/pub/fungi/release-58/fasta/fungi_ascomycota5_collection/metarhizium_brunneum_gca_013426205/dna/Metarhizium_brunneum_gca_013426205.ASM1342620v1.dna.toplevel.fa.gz
# https://ftp.ensemblgenomes.ebi.ac.uk/pub/fungi/release-58/gff3/fungi_ascomycota5_collection/metarhizium_brunneum_gca_013426205/Metarhizium_brunneum_gca_013426205.ASM1342620v1.58.gff3.gz
#===============================================================================
