set -Eeuo pipefail # https://stackoverflow.com/a/821419

#===============================================================================
# To run this:
#  1. `git clone git@gitlab.oit.duke.edu:granek-lab/projects/dorado-pipelines.git`
#  2. `dorado-pipelines/basecall_demux_map/main_sbatch.sh PATH_TO_THIS_CONFIG`
#===============================================================================

#===============================================================================
# CONTAINER IMAGES
#------------
## These default values are probably OK. They only need to be changed if you
## want/need a newer version of software
#------------
export DORADO_SIF_PATH='docker://ontresearch/dorado:sha58b978562389bd0f1842601fb83cdf1eb2920218' # dorado version 0.7.2+9ac85c6
export POD5_SIF_PATH='oras://gitlab-registry.oit.duke.edu/granek-lab/granek-container-images/meta-methylome-simage:v002'
#===============================================================================
# SLURM SETTINGS
#-----------------------------
export SBATCH_ACCOUNT="You_Must_Set_This"
export CPUJOB_PARTITION="common,scavenger"
export GPUJOB_PARTITION="gpu-common,scavenger-gpu"
#-----------------------------
# NOTES:
# SBATCH_ACCOUNT: Running this command on DCC will tell you what your valid accounts are: sacctmgr show user $USER --noheader --associations --parsable | cut --delimiter='|' -f 5
# Other defaults are probably OK
#===============================================================================

# GPU TYPE
#-----------------------------
export GPUJOB_GPUS="RTX2080:1"
# export GPUJOB_GPUS="RTXA5000:1"
# export GPUJOB_GPUS="RTXA6000:1"
#-----------------------------
# NOTES:
# - Default is probably OK
# - To speed things up, you can run the sinfo command below. Whichever has the highest number to the left is probably a best choice for GPUJOB_GPUS
# - If the numbers are similar, RTXA6000 is best, then RTXA5000, then RTX2080. Don't use TITANX or V100
#   sinfo --noheader -O "Gres" -p "scavenger-gpu,gpu-common" -N --states="idle" | sort | uniq -c
#===============================================================================

# INPUT & OUTPUT
#-----------------------------
export POD5_DIR="You_Must_Set_This"
export OUTDIR="You_Must_Set_This"
#-----------------------------
# POD5_DIR: Directory containing pod5 files.
# OUTDIR: Directory where all output will be saved (including intermediate files)
#===============================================================================

# BASECALL MODELS
#-----------------------------
export DORADO_MODEL_STRING="sup,4mC_5mC,6mA" 
#-----------------------------
# NOTES:
# - The defaults above are OK or can be changed. This will do super-high accuracy basecalling and call these methylations: 4mC, 5mC, and 6mA
# - dorado will probably fail if a requested model is not available for your dataset (e.g. 6mA or 4mC for R9.4.1 data)
# - dorado won't allow 4mC_5mC and 5mC_5hmC models in the same run, these need to be run separately simultaneously
# - options for model names can be found with the following command (assuming you set this SIF as your DORADO_SIF_PATH):
# 	srun --mem=20G -c 2 -A chsi -p chsi apptainer exec docker://ontresearch/dorado:sha58b978562389bd0f1842601fb83cdf1eb2920218 dorado download --list

#===============================================================================
# DEMULTIPLEXING
#-----------------------------
# export KIT_NAME=""
# export SAMPLE_SHEET="" 
#-----------------------------
# NOTES:
# - These only need to be set if you want to demultiplex
# KIT_NAME is the part number for the ONT barcoding kit used in preparing the sequencing libraries
# SAMPLE_SHEET is the path to your samplesheet for this experiment.
#
# - Run the following command to find valid values for KIT_NAME (they are listed as arguments to the --kit-name commandline option):
#     srun --mem=5G -c 2 -A chsi -p chsi apptainer exec docker://ontresearch/dorado:sha58b978562389bd0f1842601fb83cdf1eb2920218 dorado demux --help

# Sample Sheet Examples and Details can be found here:
# https://github.com/nanoporetech/dorado/blob/release-v0.6/tests/data/barcode_demux/sample_sheet.csv
# https://github.com/nanoporetech/dorado/blob/master/documentation/SampleSheets.md
# https://community.nanoporetech.com/docs/prepare/library_prep_protocols/experiment-companion-minknow/v/mke_1013_v1_revdc_11apr2016/sample-sheet-upload

# IMPORTANT NOTE: dorado demux currenly has issues with sample sheets in UTF8, giving errors about problematic column names 
# You can check if a files is in UTF8 with `dos2unix -ib`, which will report "UTF-8" if the file is a problem and "no_bom" if it isn't
# You can fix the file with `dos2unix --convmode ascii --newfile INPUT_FILE OUTPUT_FILE`

#===============================================================================
# MAPPING TO REFERENCE
#-----------------------------
# export REFERENCE_GENOME_URL=""
# export REFERENCE_GENOME_MD5="7d53077d823457819dd369b43e70ddf5  GCA_013426205.1_ASM1342620v1_genomic.fna.gz"
#-----------------------------
# NOTES:
# - These are only needed if you want to map reads to a reference genome.
# - REFERENCE_GENOME_URL: URL where the reference FASTA can be downloaded (the pipeline will automatically download)
# - REFERENCE_GENOME_MD5: string in the format "MD5SUM  REFERENCE_GENOME_FILENAME" see example above.
#===============================================================================
