set -Eeuo pipefail # https://stackoverflow.com/a/821419


#-----------------------------
# To run this:
#  1. `git clone git@gitlab.oit.duke.edu:granek-lab/projects/dorado-pipelines.git`
#  2. `dorado-pipelines/basecall_demux_map/main_sbatch.sh PATH_TO_THIS_CONFIG`

#-----------------------------
export DORADO_SIF_PATH='docker://ontresearch/dorado:sha58b978562389bd0f1842601fb83cdf1eb2920218' # dorado version 0.7.2+9ac85c6
export POD5_SIF_PATH='oras://gitlab-registry.oit.duke.edu/granek-lab/granek-container-images/meta-methylome-simage:v002'
#-----------------------------
export REFERENCE_GENOME_URL="https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/013/426/205/GCA_013426205.1_ASM1342620v1/GCA_013426205.1_ASM1342620v1_genomic.fna.gz"
export REFERENCE_GENOME_MD5="7d53077d823457819dd369b43e70ddf5  GCA_013426205.1_ASM1342620v1_genomic.fna.gz"
# NCBI
# https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7842015/
# https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/013/426/205/GCA_013426205.1_ASM1342620v1/GCA_013426205.1_ASM1342620v1_genomic.gtf.gz
# https://www.ncbi.nlm.nih.gov/assembly/GCA_013426205.1/?shouldredirect=false
# https://www.ncbi.nlm.nih.gov/datasets/genome/GCA_013426205.1/
# 
# Ensembl Fungi
# https://fungi.ensembl.org/Metarhizium_brunneum_gca_013426205/Info/Index
# https://ftp.ensemblgenomes.ebi.ac.uk/pub/fungi/release-58/fasta/fungi_ascomycota5_collection/metarhizium_brunneum_gca_013426205/dna_index/Metarhizium_brunneum_gca_013426205.ASM1342620v1.dna.toplevel.fa.gz
# http://ftp.ensemblgenomes.org/pub/fungi/release-58/fasta/fungi_ascomycota5_collection/metarhizium_brunneum_gca_013426205/dna/Metarhizium_brunneum_gca_013426205.ASM1342620v1.dna.toplevel.fa.gz
# https://ftp.ensemblgenomes.ebi.ac.uk/pub/fungi/release-58/gff3/fungi_ascomycota5_collection/metarhizium_brunneum_gca_013426205/Metarhizium_brunneum_gca_013426205.ASM1342620v1.58.gff3.gz
#-----------------------------
#-----------------------------
# demo data
SCRATCH_DIR="/cwork/${USER}"
export OUTDIR="${SCRATCH_DIR}/t_samples_demo_4mC"
export POD5_DIR="${SCRATCH_DIR}/t_samples_demo_raw_data"
#-----------------------------
# dorado duplex will fail if a requested model is not available for your dataset (e.g. 6mA)
# find model names with: 
# srun --mem=20G -c 2 -A chsi -p chsi apptainer exec oras://gitlab-registry.oit.duke.edu/granek-lab/granek-container-images/dorado-simg:v0_6_1 dorado download --list
# dorado won't do 4mC_5mC and 5mC_5hmC simultaneously
# export DORADO_MODEL_STRING="sup,5mC_5hmC,6mA"
export DORADO_MODEL_STRING="sup,4mC_5mC,6mA"
#-----------------------------
# find demux information with: 
# srun --mem=5G -c 2 -A chsi -p chsi apptainer exec oras://gitlab-registry.oit.duke.edu/granek-lab/granek-container-images/dorado-simg:v0_6_1 dorado demux --help
export KIT_NAME="SQK-NBD114-96" # for options run see --kit-name in `dorado demux --help`

#--------------
## Sample Sheet
#--------------
# Sample Sheet Examples and Details
# https://github.com/nanoporetech/dorado/blob/release-v0.6/tests/data/barcode_demux/sample_sheet.csv
# https://github.com/nanoporetech/dorado/blob/master/documentation/SampleSheets.md
# https://community.nanoporetech.com/docs/prepare/library_prep_protocols/experiment-companion-minknow/v/mke_1013_v1_revdc_11apr2016/sample-sheet-upload

export SAMPLE_SHEET="/datacommons/graneklab/projects/bsf_mb_epigenetics/ont_dna_data/Methylation_T_samples_pool/methylation_tsample_sample_sheet.csv"

